body, html {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
  height: 100%;
}
#app {
  background: #85e085;
  /*display: flex;
  align-items: stretch;
  justify-content: stretch;*/
  height: 100%;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
}
.paragraph {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 50px;
}
.dinein {
  text-transform: uppercase;
  font-size: 50px;
}
.skipwait {
  font-size: 30px;
}
.cameras ul {
  padding: 15px 20px;
}
.cameras .active {
  font-weight: bold;
  color: #009900;
}
.cameras a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.cameras a:hover {
  text-decoration: underline;
}
.scans {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 50px;
}

.scans-enter-active {
  transition: background 3s;
}
/*.scans-enter {
  background: yellow;
}*/
.empty {
  font-style: italic;
}
.preview-container {
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;

}
